@charset "utf-8";

/*全体の設定
---------------------------------------------------------------------------*/
body {
  background: #fff;
  color: #333;
  /*全体の文字色*/
  margin: 0px;
  padding: 0px;
  font: 16px/2.0
  "Hiragino Kaku Gothic ProN","メイリオ", Meiryo, "ＭＳ Ｐゴシック","ヒラギノ明朝 Pro", "Hiragino Kaku Gothic Pro";
}

html {
  font-size: 62.5%;/* 1rem=10px */
}

* {
  box-sizing: border-box;
  line-height: 1.3;
}

.sp {
  display: none;
}
.pc {
  display: block;
}

li {
  list-style: none;
}

/* 見出し -----*/
h1 {
  font-size: clamp(2.4rem,6.25vw,4.8rem);/* 48px */
  font-weight: 700;
  margin: 2rem auto 3rem;
  white-space: nowrap;
}

h2 {
  font-size: clamp(2rem,4vw,3.6rem);/* 36px */
  font-weight: 700;
}
h2 span {
  font-size: clamp(1.8rem,3.7vw,2.4rem);
}

h3 {
  font-size: clamp(2rem,4.1vw,3rem);/* 30px */
  font-weight: 700;
}

h4 {
  font-size: clamp(1.8rem,3.75vw,2.4rem);/* 24px */
}

h5 {
  font-size: clamp(1.4rem,2.9vw,2rem);/* 20px */
}

h6 {
  font-size: clamp(1.4rem,2.9vw,1.8rem);/* 18px */
}
/* 見出し end-----*/


/* ファーストビュー -------------------------*/
#firstview {
  position: relative;
  text-align: center;
  width: 100%;
}

#firstview .wrap {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%,-50%);
  width: 51%;
}

#firstview .wrap > img {
  padding-bottom: 3rem;
}

.main-ttl p {
  position: relative;
  padding: 0 4rem;
  width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  font-size: clamp(1.6rem,3vw,2rem);
}

.main-ttl p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3rem;
  height: 0.1rem;
  background-color: #333;
}

.main-ttl p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 3rem;
  height: 0.1rem;
  background-color: #333;
}
/* ファーストビュー end-------------------------*/


/* 悩み -------------------------*/
.worries {
  position: relative;
  text-align: center;
}

.worries h2 {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.worries h2 span {
  font-size: 3rem;
}

.solution {
  position: relative;
}
/* 悩み end-------------------------*/


/* 特典 -------------------------*/
#benefits {
  background-color: #f8e50a;
  padding-bottom: 1rem;
}

#benefits > div:nth-of-type(1) {
  text-align: center;
  padding-top: clamp(4rem,8vw,6rem);
}

.benefit-icon {
  font-size: 3rem;
  text-align: center;
  background-color: #f8e50a;
  width: 35%;
  height: clamp(7.5rem,15.6vw,10rem);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefit-icon .wrap {
  width: fit-content;
}

.benefit-icon div {
  font-size: clamp(1.8rem,3.7vw,1.6rem);
}
.benefit-box .wrap > div {
  font-size: clamp(1.4rem,3vw,1.8rem);
}

.benefit-icon p {
  font-size: clamp(3rem,6.25vw,6rem);
  font-weight: 700;
  width: fit-content;
  margin: clamp(0rem,0.2vw,0.2rem) auto 0;
}

.benefit-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 87%;
  max-width: 87%;
  border-radius: 7rem;
  padding: clamp(0.5rem,1vw,1rem);
  margin: 3rem auto;
}

.benefit-box > p {
  width: 65%;
  font-size: clamp(2rem,4vw,3.6rem);
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.benefit-box > p b {
  color: #f04b69;
}

.benefit-box > p span {
  font-size: clamp(3.6rem,7.5vw,7.2rem);
}
.benefit-box:nth-of-type(2) > p span {
  font-size: clamp(2.4rem,5vw,7.2rem);
}

.cta {
  position: relative;
}

.btn-cta {
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translate(-50%,-50%);
  background-color: #489f30;
  padding: clamp(1rem,2vw,2rem) clamp(2rem,4vw,5rem);
  border-radius: 3.4rem;
  border-bottom: 0.3rem solid rgb(51, 51, 51,0.5);
  text-align: center;
  font-weight: 700;
  font-size: clamp(1.6rem,3.3vw,2rem);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
}
#firstview .btn-cta {
  top: 80%;
  left: 30%;
  gap: clamp(1rem,2vw,2rem);
  padding: clamp(1rem,2vw,1.7rem) clamp(1.5rem,2.5vw,5rem);
}
#firstview .btn-cta img {
  width: clamp(2rem,4vw,2.6rem);
  height: clamp(2rem,4vw,2.6rem);
}

.btn-cta div:nth-of-type(2) {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #fff;
  border-radius: 50%;
}

.btn-cta div:nth-of-type(2):after {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%,-50%);
  border-style: solid;
  border-width: 0.75rem 0 0.75rem 1.3rem;
  border-color: transparent transparent transparent #489f30;
}
/* 特典 end-------------------------*/


/* はちみつについて -------------------------*/
#about {
  padding: clamp(3rem,4vw,5rem);
}

#about .ttl > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}

.ttl {
  text-align: center;
}

#about .ttl {
  margin: clamp(3rem,6.25vw,5rem) auto;
}

#about .ttl p {
  font-size: clamp(2.2rem,4.5vw,3rem);
}

.ttl .slash-left {
  width: 3.5rem;
  height: clamp(0.1rem,0.2vw,0.3rem);
  background-color: #333;
  transform: rotate(75deg);
}
.ttl .slash-right {
  width: 3.5rem;
  height: clamp(0.1rem,0.2vw,0.3rem);
  background-color: #333;
  transform: rotate(-75deg);
}

.ttl-line {
  width: 13%;
  height: 1rem;
  background-color: #f8e50a;
  border-radius: 0.5rem;
  margin: 2rem auto clamp(1rem,2vw,2rem);
}


.sub-ttl {
  background-color: rgb(248, 229, 10,0.2);
  padding: 0 clamp(0.5rem,1vw,1rem);
  text-align: center;
  border-right: 1rem solid #f8e50a;
  border-left: 1rem solid #f8e50a;
}
.sub-ttl h3 {
  padding: clamp(2rem,4.1vw,3rem) 1rem;
  border-right: 0.3rem solid #f8e50a;
  border-left: 0.3rem solid #f8e50a;
}


.sub-ttl + p {
  margin-top: clamp(3rem,6.25vw,5rem);
}

.figure {
  margin: clamp(3rem,6.25vw,5rem) 0;
}

.arrow-1 {
  margin-top: clamp(3rem,6.25vw,5rem);
  text-align: center;
}

.center {
  text-align: center;
  line-height: 1.4;
} 

.about-1 p > span {
  color: #df9b57;
  font-size: clamp(2rem,4vw,3rem);
  font-weight: 700;
}


#about .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: clamp(2rem,4vw,3rem);
  row-gap: clamp(1rem,3vw,3rem);
  width: 100%;
  margin: clamp(3rem,6vw,5rem) auto 7rem;
}

#about .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 237, 133,0.6);
  border-radius: 2rem;
  padding: clamp(2rem,4vw,3rem) 3rem;
  text-align: center;
}


.about-2 .ttl-decolate {
  text-align: center;
}
.about-2 .ttl-decolate img {
  min-width: 5rem;
}

.about-2 .ttl-decolate p {
  font-size: clamp(2rem,4vw,3rem);
  margin: 1rem auto 2rem;
}

.about-2 .wrap {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 3rem auto;
}

.about-2 .wrap p {
  width: 62%;
  line-height: 1.4;
}

/* 比較表 -----*/
.chart-wrap {
  display: flex;
  gap: 2rem;
  margin: 7rem auto 5rem;
}
.chart-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 48.5%;
  padding: 7rem 3rem 3rem;
  border-radius: 2rem;
}
.chart-box .box-ttl {
  text-align: center;
  position: absolute;
  top: calc(-0.5em - 1rem);
  left: 50%;
  transform: translateX(-50%);
  width: 81%;
  padding: 1rem 0;
  border-radius: 3rem;
  box-shadow: 0.707px 0.707px 0.99px 0.01px rgba(25, 38, 30, 0.4),-0.707px -0.707px 9.5px 0.5px rgba(255, 255, 255, 0.4);
}

.chart-box .inner-box {
  background-color: #fff;
  border-radius: 2rem;
  padding: 5rem 4rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.chart-box .inner-box p {
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.chart-box li:nth-of-type(3) {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: fit-content;
  margin: 0 auto 1rem;
}
.chart-box li:nth-of-type(3) img {
  width: 15%;
}
.chart-box .inner-box img {
  width: 90%;
}

.normal {
  background-color: rgb(233, 231, 231,0.6);
}
.honey {
  background-color: rgb(248, 229, 10,0.6);
}
/* 比較表 end-----*/


.joint-wrap {
  text-align: center;
  margin: 5rem auto clamp(2rem,4vw,3rem);
}

.box-ex {
  padding: 4rem 3rem;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  gap: clamp(3rem,6vw,5rem);
}
.box-ex .item  p {
  margin-bottom: clamp(2rem,4vw,3rem);
  font-size: clamp(1.4rem,3vw,1.8rem);
}
/* はちみつについて end-------------------------*/


/* こだわり -------------------------*/
#obsession .wrap {
  margin: 11rem 0;
}

#obsession .box {
  position: relative;
  width: 100%;
  padding: 5rem clamp(3rem,6vw,5rem) 5rem;
  background-color: #fff;
  border-radius: 5rem;
  box-shadow: 0px 9px 23.75px 1.25px rgba(243, 243, 243, 0.7),0px -9px 23.75px 1.25px rgba(243, 243, 243, 0.7);
}

.box-footter {
  width: 100%;
  height: clamp(8rem,16vw,10rem);
  background-color: #f8e50a;
  margin-top: -5rem;
}

/* 中タイトル ---*/
#obsession .subttl-wrap {
  position: absolute;
  top: clamp(-4rem,-8.25vw,-9rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: clamp(2rem,4vw,7rem);
  width: fit-content;
  margin: 0 auto;
}
#obsession .number-back {
  width: clamp(8rem,16.5vw,18rem);
  height: clamp(8rem,16.5vw,18rem);
  background-color: #f8e50a;
  border-radius: 10%;
  position: relative;
}
#obsession .number {
  position: absolute;
  bottom: 0rem;
  left: clamp(-3rem,-6vw,-2rem);
}
#obsession .number p {
  font-size: clamp(4.8rem,10vw,9.6rem);
  font-family: "Arial";
  color: #333;
  font-weight: bold;
}
#obsession .number-back + h2 {
  margin-top: clamp(3rem,6.25vw,4rem);
}
#obsession h2:nth-of-type(2) {
  text-align: center;
}

#obsession .li-ttl {
  display: flex;
  align-items: center;
  gap: clamp(1rem,2vw,2rem);
  margin: 5rem 0 3rem;
}

#obsession .li-ttl p {
  font-size: clamp(1.6rem,3.3vw,2rem);
  font-weight: 700;
}

#obsession .li-ttl p span {
  font-size: clamp(1.8rem,3.7vw,2.4rem);
}

#obsession .list-mark {
  width: clamp(1rem,2vw,2rem);
  height: clamp(3rem,6vw,6rem);
  background-color: #f8e50a;
  border-radius: 1rem;
}


/* 天然って？ -----*/
#natural img {
  width: 100%;
}

#natural .wrap-items {
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
  gap: clamp(3rem,6vw,5rem);
}
#natural .wrap-item {
  display: flex;
  flex-direction: column;
}

#natural .inner-wrap {
  display: flex;
  flex-direction: column;
}
#natural .inner-wrap p {
  width: fit-content;
  margin: 0 auto;
}
#natural .inner-wrap > li {
  color: #df9b57;
  font-size: clamp(1.8rem,3.75vw,2.4rem);
  font-weight: 700;
  margin: clamp(2rem,4vw,3rem) auto clamp(1rem,2vw,2rem);
}


/* 国産って？ -----*/
#domestic li:nth-of-type(2),#domestic li:last-of-type {
  margin: 3rem 0;
}

.moisture  {
  text-align: center;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  padding: 4rem clamp(3rem,6vw,7rem);
  border-radius: 2rem;
  gap: clamp(3rem,6vw,8rem);
}

.moisture img {
  margin: 2rem 0;
  width: 50%;
}

.moisture > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: clamp(0.5rem,1vw,1rem) 3rem;
  width: fit-content;
}

.moisture > div > p {
  font-size: clamp(1.4rem,2vw,1.6rem);
}

.foreign > div {
  background-color: #e8e6e6;
  margin: 0 auto;
}
.domestic > div {
  background-color: #f8e50a;
  margin: 0 auto;
}


/* 完熟って？ -----*/
#ripe img {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

#ripe li {
  margin: 2rem 0;
}


#honey-source li,#state li {
  margin: clamp(2rem,4vw,3rem) auto;
}


.cause-lists {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  border: 0.2rem solid #df9b57;
  padding: 0 2rem 1rem;
  border-radius: 2rem;
}
.cause-list {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: clamp(1rem,2vw,3rem);
  margin-right: auto;
}
.cause-list .list-icon {
  background-color: #df9b57;
  width: fit-content;
  padding: clamp(0.5rem,1vw,1rem) 2rem;
  border-radius: 2rem;
  color: #fff;
}


.solving-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: clamp(3rem,6.25vw,5rem);
  padding-top: clamp(2rem,4vw,3rem);
}
.solving-list {
  position: relative;
  text-align: center;
}
.solving-list li {
  position: absolute;
  top: calc(-2rem - 0.5em - clamp(0.5rem,1vw,1rem));
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #f8e50a;
  width: fit-content;
  border-radius: 2rem;
  padding: clamp(0.5rem,1vw,1rem) clamp(2rem,4vw,3rem);
  font-size: clamp(1.2rem,2.5vw,1.8rem);
}
.solving-list span {
  font-size: smaller;
}
.solving-wrap img {
  border-radius: 1.5rem;
  width: 100%;
}
/* こだわり end-------------------------*/


/* 使い方 -------------------------*/
#usage {
  position: relative;
  margin: 5rem auto;
}

#usage img {
  width: 40%;
  height: 35%;
  border-radius: 4rem;
  box-shadow: 0.707px 0.707px 0.99px 0.01px rgba(25, 38, 30, 0.4),-0.707px -0.707px 9.5px 0.5px rgba(255, 255, 255, 0.4);
}

#usage .ttl {
  margin: 5rem auto;
}

#usage .wrap-lists {
  width: 100%;
  margin: 0 auto;
}

#usage li:nth-child(even) {
  flex-direction: row-reverse;
}

#usage .wrap-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem auto;
  padding: 1rem 0;
}

#usage .text {
  width: 40%;
}

#usage .text p {
  line-height: 1.2;
}

#usage .wrap-list  h4 {
  margin: 0 0 3rem;
  font: 700;
  width: fit-content;
  padding: 0 1rem;
  background: linear-gradient(to bottom,transparent 60%,#f8e50a 60%);
}

#usage .wrap-list span {
  font-size: clamp(1.4rem,2.9vw,2rem);
}
/* 使い方 end-------------------------*/


/* お客様の声 -------------------------*/
#voice {
  margin: 5rem auto;
  padding: 0 clamp(3rem,6.25vw,5rem);
}

#voice .ttl {
  margin-bottom: clamp(5rem,10vw,15rem);
}

#voice .wrap {
  position: relative;
  margin-top: clamp(10rem,20vw,13rem);
}

#voice .circle {
  position: absolute;
  top: clamp(-5rem,-10vw,-7.5rem);
  left: 50%;
  transform: translateX(-50%);
  width: clamp(10rem,20vw,15rem);
  height: clamp(10rem,20vw,15rem);
  background-color: #fff;
  border: 0.4rem solid #f8e50a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#voice .flame {
  width: 100%;
  border: 0.4rem solid #f8e50a;
  border-radius: 7.5rem;
  padding: clamp(0.5rem,1vw,1rem);
}
#voice .box {
  width: 100%;
  height: 100%;
  border-radius: 7.5rem;
  background-color: rgb(250, 250, 250);
  padding: clamp(5rem,10vw,7rem) clamp(2rem,4vw,4rem) clamp(3rem,6vw,4rem);
}

#voice h4 {
  text-align: center;
  color: #df9b57;
}

#voice h5 {
  margin: clamp(2rem,4vw,3rem) 0;
}

#voice h6 {
  color: rgb(105, 105, 105);
  text-align: center;
}
/* お客様の声 end-------------------------*/


/* メッセージ -------------------------*/
#message {
  margin: 10rem auto;
  padding: 0 clamp(3rem,6.25vw,5rem);
}

#message .ttl {
  margin: 5rem auto;
}

.profile {
  width: 25.8rem;
  margin: 5rem auto;
}

#message .back {
  position: relative;
  width: clamp(15rem,30vw,25.8rem);
  height: clamp(15rem,30vw,25.8rem);
  background-color: #f8e50a;
  border-radius: 50%;
  white-space: nowrap;
  margin: 0 auto;
}

#message .back img {
  width: clamp(60%,6vw,95%);
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translateX(-50%);
}

#message .back > div {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateY(-50%);
}

.profile .back p:nth-of-type(2) span {
  font-size: clamp(1.6rem,3.3vw,2.4rem);
}

.profile .back p:nth-of-type(2) {
  margin-top: 1rem;
  font-size: clamp(2.2rem,4.5vw,3rem);
}

#message .wrap {
  width: 100%;
  padding: 0 clamp(1rem,2vw,3rem);
  line-height: 1.2;
}

#message .wrap p:first-of-type,#message .wrap p:last-of-type {
  margin: 2rem 0;
}

#message h3 {
  background: linear-gradient(to bottom,transparent 60%,#df9b57 );
  width: fit-content;
  display: inline;
  margin: 0 auto 4rem;
  text-align: center;
}
/* メッセージ end-------------------------*/


/* フッター -------------------------*/
footer {
  width: 100%;
  padding: 1.5rem 0;
  font-size: clamp(1rem,2vw,1.6rem);
  text-align: center;
  background-color: #f8e50a;
}
/* フッター end-------------------------*/


/* color --------------------*/
.orange {
  color: #dd940e;
}

.light-orange {
  color: #df9b57;
}

.yellow {
  color: #f8e50a;
}



/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
  display: block;
  z-index: 5;
}

/* リンク範囲を親要素の大きさにする(子要素aに付ける) */
.whole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: 100%; /* テキスト非表示 */
  white-space: nowrap; /* テキスト非表示 */
  overflow: hidden; /* テキスト非表示 */
}

/* マウスオンした時の文字色 */
.btn-cta:hover {
  border-bottom-color: transparent;
  margin-top: 0.1rem;
}


/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
.container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  /*コンテナー幅*/
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 auto;
  overflow: hidden;
}



/* メディアクエリ(レスポンシブ対応) ----------------------------------------*/
/* 599px以下の時 ------------------------------*/
@media screen and (max-width: 599px) {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-size: 18px;
  }

  
  /* はちみつについて -----*/
  /* 比較表 -----*/
  .chart-wrap {
    flex-direction: column;
    gap: clamp(4rem,8vw,5rem);
    margin: 7rem auto 5rem;
  }
  .chart-box {
    flex-direction: column;
    gap: clamp(2rem,4vw,3rem);
    width: 90%;
    margin: 0 auto;
    padding: clamp(5rem,10vw,7rem) clamp(2rem,4vw,3rem) 3rem;
  }
  
  .chart-box .inner-box {
    padding: clamp(3rem,4vw,5rem) 3rem clamp(2rem,4vw,4rem);
    width: 90%;
    margin: 0 auto;
  }
  .chart-box li:nth-of-type(3) {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: fit-content;
    margin: 0 auto 1rem;
  }
  .chart-box li:nth-of-type(3) img {
    width: 15%;
  }
  .chart-box .inner-box img {
    width: 50%;
    min-width: 10rem;
  }
  /* 比較表 end-----*/
  /* はちみつについて end-----*/
    

  /* こだわり -----*/
  #natural img  {
    width: 100%;
  }

  #natural .wrap-items {
    flex-direction: column;
  }
  #natural .wrap-item {
    text-align: center;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  #natural .wrap-item p {
    text-align: left;
  }


  #obsession .grid-container {
    width: 42%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 5rem;
    text-align: center;
  }
  
  #obsession .grid-container img {
    width: auto;
    border-radius: 1.5rem;
  }
  #obsession .grid-item {
    position: relative;
    margin: 0 auto;
  }
  #obsession .grid-item span {
    font-size: 1.6rem;
  }

  #obsession .grid-item h5 {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8e50a;
    padding: 1rem 2rem;
    width: fit-content;
    border-radius: 2rem;
    font-size: 1.8rem;
    margin: 0 auto;
  }
  /* こだわり end-----*/
  
  /* ボタン -----*/
  #firstview .btn-cta {
    top: 80%;
    left: 30%;
    gap: clamp(1rem,2vw,2rem);
    padding: clamp(1rem,2vw,1.5rem) clamp(1.5rem,2.5vw,5rem);
    font-size: clamp(1.6rem,3.3vw,1.8rem);
  }
  #firstview .btn-cta img {
    width: clamp(2rem,4vw,2.6rem);
    height: clamp(2rem,4vw,2.6rem);
  }
  .btn-cta div:nth-of-type(2) {
    display: none;
  }
  /* ボタン end-----*/
}



/* 480px以下の時 ------------------------------*/
@media screen and (max-width: 480px) {

  body {
    font-size: 14px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }


  /* はちみつについて -----*/
  #about .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #about .grid-item {
    padding: clamp(2rem,4vw,3rem) 3rem;
  }  
  .box-ex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(4rem,8vw,5rem);
  }
  /* はちみつについて end-----*/


  /* こだわり -----*/
  /* 天然って？ */
  #natural .wrap-items {
    gap: 5rem;
  }
  #natural .wrap-item {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  #natural .wrap-item img {
    width: clamp(10rem,20vw,20rem);
  }
  
  /* 国産って？ */
  .moisture  {
    padding: 4rem clamp(3rem,6vw,7rem);
    gap: clamp(3rem,6vw,8rem);
    flex-direction: column;
  }
  .moisture img {
    width: 20%;
    min-width: 6rem;
  }

  /* レンゲ蜜源の状態 */
  .cause-lists + li {
    padding-top: 2rem;
  }
  .cause-list {
    gap: rem;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto; 
    padding: 0 2rem 1.5rem;
  }
  .cause-list p {
    margin-top: -2rem;
  }

  .solving-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: clamp(3rem,6.25vw,5rem);
  }
  .solving-list li {
    width: 70%;
    top: calc(-2rem - 0.5em - clamp(1rem,2vw,2rem));
    padding: clamp(1rem,2vw,2rem) clamp(2rem,4vw,4rem);
    font-size: clamp(1.4rem,2.9vw,1.8rem);
  }
  .solving-wrap img {
    width: 90%;
  }
  /* こだわり end-----*/


  /* 使い方 -----*/
  #usage .wrap-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 5rem auto;
    padding: 1rem 5rem;
  }
  
  #usage .wrap-list img {
    width: 100%;
  }

  #usage .text {
    width: 100%;
  }
  
  #usage .text p {
    line-height: 1.2;
  }
  
  #usage .wrap-list  h4 {
    width: fit-content;
    padding: 0 1rem;
    margin: 0 auto 3rem;
  }

  #usage li:nth-child(even) {
    flex-direction: column;
  }
  /* 使い方 end-----*/


  /* ボタン -----*/
  .btn-cta {
    left: 33%;
    padding: clamp(0.7rem,1.4vw,2rem) clamp(3rem,6.25vw,4rem);
  }
  .btn-cta div:nth-of-type(2) {
    display: none;
  }

  #firstview .btn-cta {
    top: 81%;
    left: 30%;
    gap: 0;
    padding: clamp(0.7rem,1.7vw,1.3rem) clamp(2rem,3vw,7rem);
    font-size: clamp(1.4rem,3vw,1.8rem);
  }
  #firstview .btn-cta img {
    display: none;
  }
  /* ボタン end-----*/

}